@inherits LayoutComponentBase
@using ManageYourBills.BlazorServer.Pages

<MudThemeProvider />
<MudDialogProvider CloseButton="true" />
<MudSnackbarProvider />

<PageTitle>ManageYourBills.BlazorServer</PageTitle>

<div class="page">
    <div class="sidebar" style="background-color: #594ae2ff;">
        <NavMenu />
    </div>

    <main>

        <article class="content px-4" style=" margin: 40px;">
            <CustomErrorBoundary>
                @Body
            </CustomErrorBoundary>
        </article>
    </main>
</div>
